pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 13.0.0
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_x86_64 = https://github.com/Jguer/yay/releases/download/v13.0.0/yay_13.0.0_x86_64.tar.gz
	sha256sums_x86_64 = e764fc86ed91750666bf2910bdf81b1c30eed1100e45e0fc500c4f907eb75782
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v13.0.0/yay_13.0.0_aarch64.tar.gz
	sha256sums_aarch64 = ca589ed8f010504e96dcd4697da5ef8c3b13016c6a8a125d15c07a76dc49a268
	source_armv7h = https://github.com/Jguer/yay/releases/download/v13.0.0/yay_13.0.0_armv7h.tar.gz
	sha256sums_armv7h = 9c746bf4b463c4a81caa3fff7eefd4a9e2d4809e7dcfe80f9f2785847cff3675

pkgname = yay-bin
