pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 12.5.4
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_x86_64 = https://github.com/Jguer/yay/releases/download/v12.5.4/yay_12.5.4_x86_64.tar.gz
	sha256sums_x86_64 = 932b40f86d053e60cff45f9faf5c1cd1f733977e6e9f95bae692a36028cb9be4
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v12.5.4/yay_12.5.4_aarch64.tar.gz
	sha256sums_aarch64 = f2cba3b0fae77a16448dcb0039ab615cd3f6ec07cce6838ddc87ba088b663498
	source_armv7h = https://github.com/Jguer/yay/releases/download/v12.5.4/yay_12.5.4_armv7h.tar.gz
	sha256sums_armv7h = 309acb917ca6c59c8f02ced22781fa2803780ae582abb78e05fc89e39655d108

pkgname = yay-bin
