pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 12.5.3
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_x86_64 = https://github.com/Jguer/yay/releases/download/v12.5.3/yay_12.5.3_x86_64.tar.gz
	sha256sums_x86_64 = 89da70b22e619b3512d24f061382cbd590db8ccd5f482f90775360785839a664
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v12.5.3/yay_12.5.3_aarch64.tar.gz
	sha256sums_aarch64 = 3e92178dd4b5f0c0f10a3f8fab567b633bf600ffc1c196187c282a6cc01aca12
	source_armv7h = https://github.com/Jguer/yay/releases/download/v12.5.3/yay_12.5.3_armv7h.tar.gz
	sha256sums_armv7h = 26ad60854f0caf6a621d9a4fa6db1f5cc0508cefec08b7eb04b3c98a2888e5f7

pkgname = yay-bin
