pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 12.5.7
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_x86_64 = https://github.com/Jguer/yay/releases/download/v12.5.7/yay_12.5.7_x86_64.tar.gz
	sha256sums_x86_64 = 28b3c5d3fd39d9b123c58f3f2689783da11e4a48bf6ed660a6dc7fe6aabdbeb3
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v12.5.7/yay_12.5.7_aarch64.tar.gz
	sha256sums_aarch64 = 91d8c6af7800437ce15f05813f21705d1113f348ff0c0087758f66c969edd7a6
	source_armv7h = https://github.com/Jguer/yay/releases/download/v12.5.7/yay_12.5.7_armv7h.tar.gz
	sha256sums_armv7h = e3121124ce0917f620622747113cb370ac7b878345a1dc6f2c60385456ab1845

pkgname = yay-bin
