pkgbase = yay-bin
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go. Pre-compiled.
	pkgver = 12.4.1
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	provides = yay
	conflicts = yay
	source_x86_64 = https://github.com/Jguer/yay/releases/download/v12.4.1/yay_12.4.1_x86_64.tar.gz
	sha256sums_x86_64 = b7d18571306608f8eb00c8bdc604671926e6671b6caaa44c1fc564773aa6c0e0
	source_aarch64 = https://github.com/Jguer/yay/releases/download/v12.4.1/yay_12.4.1_aarch64.tar.gz
	sha256sums_aarch64 = 4644b33d1d1d4311a3c5fc9763c4e3e7e7001de012864839ed304197dedc0b98
	source_armv7h = https://github.com/Jguer/yay/releases/download/v12.4.1/yay_12.4.1_armv7h.tar.gz
	sha256sums_armv7h = 70e378adec516988b72bf62d86f308bfd809d3ff74f5e25637f4c2e507279f4a

pkgname = yay-bin
